body {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #191c20;
}

body .buorg {
  background-color: rgb(253, 253, 223);
  font: 15px "DM Sans", Arial, Helvetica, sans-serif;
  animation: 500ms cubic-bezier(0.62, 0.67, 0, 1.0) 0s buorgfly
}

body #buorgul, body #buorgig {
  border-radius: 20px;
}

body #buorgig {
  background-color: #bbbe97;
}

.hero {
  position: absolute;
  display: inline-flex;
  top: 90vh;
  transform: translateY(-100%);
  z-index: 1;
  animation: fadein 350ms;
  animation-timing-function: cubic-bezier(0, 0, 0.13, 0.97);
  margin-right: 25px;
}

.loading {
  animation-play-state: paused;
}

@keyframes fadein {
  from {
    top: 87vh;
    opacity: 0;
  }
  to {
    top: 90vh;
    opacity: 1;
  }
}

.transition-layer {
  display: block;
  z-index: 4;
  position: fixed;
  width: 100%;
  height: 100%;
  top: auto;
  left: 0;
  bottom: 100%;
  right: auto;
  background: white;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.755, 1);
}

.transition-layer.active {
  bottom: 0%;
}

.profile {
  position: relative;
  border-radius: 50%;
  min-width: 175px;
  min-height: 175px;
  max-width: 200px;
  max-height: 200px;
  width: 20vh;
  height: 20vh;
  padding: 35px;
  left: 20px;
  top: 1vh;
  transform: translateY(5%);
}

.text {
  font-family: "DM Sans", sans-serif;
  color: white;
  position: relative;
  margin-left: 35px;
  padding-bottom: 10px;
  text-align: left;
}

.tagline {
  font-size: calc(25px + 2vmin);
  margin-top: calc(10px + 0.5vmin);
}

h1 {
  font-size: calc(30px + 3vmin);
  margin-block-end: auto;
  margin-right: 50px;
}

h3 {
  font-size: calc(16px + 1.125vmin);
  margin-top: calc(10px + 1.25vmin);
}

h4 {
  font-size: calc(15px + 1vmin);
  margin-top: calc(10px + 1.5vmin);
}

#noscript-fallback {
  display: none;
}

a {
  text-decoration: none;
}

a.text-link {
  padding-right: 3.5px;
  padding-left: 3.5px;
  color: whitesmoke;
  background-color: rgba(165, 9, 105, 0.829);
}

a.text-link:hover {
  background-color: rgb(160, 12, 111);
  color: white;
}

.social-links {
  display: flex;
  padding-top: 2vmin;
}

.social-links>a:not(:last-child) {
  margin-right: calc(20px + 4vmin);
}

.fab, .fas {
  font-size: calc(17px + 1.25vmin);
  color: white;
}

.fab:hover, .fas:hover {
  color: rgb(138, 125, 134);
}

.small-text {
  display: none;
  font-size: calc(20px + calc(5vmin - 10px));
  margin-right: 20px;
}

#hi-link {
  padding-left: 2px;
  padding-right:4.5px;
}

/* Narrow (i.e. mobile) viewports */

@media screen AND (max-width: 1000px) {
  .big-text {
    display: none;
  }
  .hero {
    transform: none;
    position: fixed;
    top: auto;
    bottom: 3%;
    left: -1%;
    display: block;
    margin-left: 1px;
  }
  @keyframes fadein {
    from {
      bottom: 0%;
      opacity: 0;
    }
    to {
      bottom: 3%;
      opacity: 1;
    }
  }
  .profile {
    position: relative;
    padding: 0px;
    border-radius: 50%;
    width: 25vmin;
    height: 25vmin;
    min-width: 70px;
    min-height: 70px;
    max-width: 200px;
    max-height: 200px;
    left: 30px;
    margin-bottom: 5vmin;
  }
  .small-text {
    display: block;
  }
  h3 {
    font-size: calc(18px + calc(4vmin - 10px));
    margin-right: 20px;
    margin-top: 3vmin;
  }
  h4 {
    font-size: calc(16px + calc(3vmin - 10px));
    margin-right: 20px;
    margin-top: 0;
  }
  .fab, .fas {
    font-size: calc(16px + calc(4vmin - 10px));
  }
  .social-links {
    padding-top: 3vmin;
  }
  .social-links>a:not(:last-child) {
    margin-right: 10vmin;
  }
  .social-links>a:last-child {
    margin-right: 20px;
  }
  @media screen AND (max-width: 218px) {
    body {
      position: relative;
      width: 0%;
    }
    .hero {
      top: 10vh;
      bottom: unset;
    }
    @keyframes fadein {
      from {
        top: 0vh;
        opacity: 0;
      }
      to {
        top: 10vh;
        opacity: 1;
      }
    }
  }
}

@media screen AND (max-height: 320px) {
  .hero {
    position: relative;
    transform: none;
    top: 5%;
  }
  @keyframes fadein {
    from {
      top: -10%;
      opacity: 0;
    }
    to {
      top: 5%;
      opacity: 1;
    }
  }
}