body {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #191c20;
}

body .buorg {
  background-color: rgb(253, 253, 223);
  font: 15px "DM Sans", Arial, Helvetica, sans-serif;
  animation: 500ms cubic-bezier(0.62, 0.67, 0, 1.0) 0s buorgfly
}

body #buorgul, body #buorgig{
  border-radius: 20px;
}

body #buorgig{
  background-color: #bbbe97;
}

.hero {
  position: absolute;
  display: inline-flex;
  top: 90vh;
  transform: translateY(-100%);
  z-index: 1;
}

.overlay-slide-in-top {
  opacity: 0;
}

.animsition-overlay-slide {
    z-index: 2;
    background-color: aqua;
}

.container{
  position: fixed;
  z-index: 3;
}
.bottom-layer {
  display:block;
  z-index: 5;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  bottom: auto;
  right: auto;
  background: rgb(19, 61, 95);
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.755, 1);
}
.bottom-layer.active {
  top: -100%;
}
.bottom-layer--2 {
  z-index: 3;
  background: rgb(137, 163, 190);
  transition-delay: 0s;
  transition: all 0.75s cubic-bezier(0.645, 0.045, 0.25, 1);
}
.bottom-layer--2.active{
  top:0%;
}
.bottom-layer--3 {
  z-index: 4;
  background: rgb(53, 93, 126);
  transition-delay: 0s;
  transition: all 0.75s cubic-bezier(0.645, 0.045, 0.75, 1);
}

.profile {
  position: relative;
  border-radius: 50%;
  min-width: 175px;
  min-height: 175px;
  max-width: 200px;
  max-height: 200px;
  width: 20vh;
  height: 20vh;
  padding: 35px;
  left: 20px;
  top: 1vh;
  transform: translateY(5%);
}

.text {
  font-family: "DM Sans", sans-serif;
  color: white;
  position: relative;
  margin-left: 35px;
  padding-bottom: 10px;
  text-align: left;
}

.tagline {
  font-size: calc(25px + 2vmin);
  margin-top: calc(10px + 0.5vmin);
}

h1 {
  font-size: calc(30px + 3vmin);
  margin-block-end: auto;
  margin-right: 50px;
}

h3 {
  font-size: calc(16px + 1.125vmin);
  margin-top: calc(10px + 1.25vmin);
}

h4 {
  font-size: calc(15px + 1vmin);
  margin-top: calc(10px + 1.5vmin);
}

a {
  text-decoration: none;
}

a.text-link {
  padding-right: 3.5px;
  padding-left: 3.5px;
  color: whitesmoke;
  background-color: rgba(165, 9, 105, 0.829);
}

a.text-link:hover {
  background-color: rgb(160, 12, 111);
  color: white;
}

.social-links {
  padding-top: 2vmin;
}

.social-links>a:not(:last-child) {
  margin-right: calc(20px + 4vmin);
}

.fab, .fas {
  font-size: calc(17px + 1.25vmin);
  color: white;
}

.fab:hover, .fas:hover {
  color: rgb(138, 125, 134);
}

.small-text {
  display: none;
  font-size: calc(20px + calc(5vmin - 10px));
  margin-right: 20px;
}

/* Narrow (i.e. mobile) viewports */

@media screen AND (max-width: 1000px) {
  @media (max-height: 600px) {
    /* .hero {
      transform: none;
      top: 20px;
    } */
  }
  .big-text {
    display: none;
  }
  .hero {
    transform: none;
    position: absolute;
    top: auto;
    bottom: 3%;
    left: -1%;
    display: block;
    margin-left: 1px;
  }
  .profile {
    position: relative;
    padding: 0px;
    border-radius: 50%;
    width: 25vmin;
    height: 25vmin;
    min-width: 70px;
    min-height: 70px;
    max-width: 200px;
    max-height: 200px;
    left: 30px;
    margin-bottom: 5vmin;
  }
  .small-text {
    display: block;
  }
  h3 {
    font-size: calc(18px + calc(4vmin - 10px));
    margin-right: 20px;
    margin-top: 3vmin;
  }
  h4 {
    font-size: calc(16px + calc(3vmin - 10px));
    margin-right: 20px;
    margin-top: 0;
  }
  .fab, .fas {
    font-size: calc(16px + calc(4vmin - 10px));
  }
  .social-links {
    display: flex;
    padding-top: 3vmin;
  }
  .social-links>a:not(:last-child) {
    margin-right: 10vmin;
  }
  .social-links>a:last-child {
    margin-right: 20px;
  }
}

@media screen AND (max-height: 320px) AND (min-width: 751px) {
  .hero {
    transform: none;
    top: 5%;
  }
}