* {
  box-sizing: border-box;
}

:root {
  --page-width: 8.5in;
  --page-height: 11in;
  --decorator-horizontal-margin: 0.2in;
  --sidebar-horizontal-padding: 0.2in;
  --decorator-outer-offset-top: 10px;
  --decorator-outer-offset-left: -15px;
  --decorator-border-width: 1px;
  --decorator-outer-dim: 25px;
  --decorator-border: 2px solid #ccc;
  --row-blocks-padding-top: 5pt;
  --date-block-width: 0.75in;
  --main-blocks-title-icon-offset-left: -21pt;
  --color-accent-heavy: rgb(178, 231, 247);
  --color-accent-light: rgb(205, 243, 255);
  --drop-shadow: 1px 2px 6px #00000034;
  font-size: 11pt;
}

#emergency-button{
  color: #fff;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
    padding: 1px 10px;
    border-radius: 4px;
    font-weight: normal;
    background: #3f89ca;
    white-space: nowrap;
    margin: 0 2px;
    display: inline-block;
}

body .buorg {
  background-color: rgb(253, 253, 223);
  font: 15px "DM Sans", Arial, Helvetica, sans-serif;
  animation: 500ms cubic-bezier(0.62, 0.67, 0, 1.0) 0s buorgfly
}

body #buorgul, body #buorgig, #emergency-button{
  border-radius: 20px;
}

body #buorgig{
  color: rgb(134, 134, 134);
  /* background-color: #bbbe97; */
  box-shadow: initial;
  background-color: initial;
}

body {
  /* display: flex; */
  color: #444;
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  line-height: 1.75;
  margin: auto;
  width: 100%;
}

body, body * {
  max-height: 10000000px;
}

.animsition-overlay{
  width: 8.5in;
  margin: auto;
}
.animsition-overlay-slide {
  background-color: rgb(137, 163, 190);
  z-index: 2
}

#main {
  float: left;
  font-size: 1rem;
  padding: 0.1in 0.25in 0 0.25in;
  width: 100%;
}

h1, h2, h3 {
  color: #000;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  box-shadow: var(--color-accent-heavy) 0px -2px 0px inset;
  color: #323336;
  text-decoration: none;
  transition: box-shadow 160ms cubic-bezier(0.62, 0.67, 0, 1.24) 0s;
}

a:hover {
  box-shadow: var(--color-accent-light) 0px -1.2em 0px inset;
}

#secondary-title {
  padding-bottom: 10px;
}

.download-button {
  background-color: var(--color-accent-light);
  border-radius: 15px;
  box-shadow: 0px 1px 5px #3b3b3b2a;
  display: initial;
  float: right;
  left: -5%;
  padding: 3px 15px;
  position: relative;
  transition: background-color 250ms ease-in-out 0s, box-shadow 150ms ease-in-out 0s;
}

.download-button:hover {
  background-color: rgb(187, 233, 248);
  box-shadow: 0px 0px 5px #6b6b6b3f;
}

#dl-small {
  display: none;
}

#dl-link {
  box-shadow: none;
}

.dl-icon {
  color: rgb(36, 36, 36);
  font-size: 1rem;
}

.subheading {
  display: inline;
}

#main #contact {
  font-size: 0.95rem;
  margin: 15px -28px 0px 0px;
  columns: 2;
  float: right;
  line-height: 1.5rem;
}

#interpunct {
  color: rgba(68, 68, 68, 0.74);
  font-size: 1rem;
  margin: 12px
}

#title {
  left: 0.6in;
  line-height: 1.2;
  margin-bottom: 0.2in;
  position: relative;
}

#title h1 {
  display: inline;
  font-size: 3.6rem;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  text-shadow: var(--drop-shadow);
}

#title h1 strong {
  font-weight: 600;
  margin: auto 2pt auto 4pt;
  text-shadow: var(--drop-shadow);
}

.subtitle {
  font-size: 1.10rem;
}

.main-block {
  margin-top: 0.275in;
}

#main h2 {
  color: #555;
  font-size: 1.33rem;
  font-weight: 400;
  left: calc((var(--date-block-width) + var(--decorator-horizontal-margin)));
  position: relative;
  top: var(--row-blocks-padding-top);
}

#main h2>i {
  color: #444;
  left: var(--main-blocks-title-icon-offset-left);
  position: absolute;
  z-index: 1;
}

#main h2::after {
  border-left: var(--decorator-border);
  content: "";
  display: block;
  font-size: 0;
  height: calc(var(--row-blocks-padding-top) * 2);
  left: calc(-1 * var(--decorator-horizontal-margin));
  line-height: 0;
  position: relative;
  top: calc(-1 * var(--row-blocks-padding-top));
  z-index: 0;
}

#main h2>.fa-graduation-cap {
  left: -30px;
  top: 5px;
}

#main h2>.fa-briefcase {
  left: -27px;
  top: 5px;
}

#main h2>.fa-window-maximize {
  left: -27px;
  top: 5px;
}

.section-title {
  margin-left: 10px;
}

#main ul {
  margin: 0.08in 0;
  padding-left: 0.07in;
}

#main li {
  margin: 0 0 0.025in 0;
}

.main-block:not(.concise) .details div {
  margin: 0.04in 0 0in 0;
}

.main-block:not(.concise) .blocks:last-child .details div {
  margin: 0.04in 0 0in 0;
}

.main-block.concise .details div:not(.concise) {
  padding: 0.04in 0 0in 0;
}

.main-block li::before {
  content: "• ";
  margin-left: -4.25pt;
  position: relative;
}

.blocks {
  display: flex;
  flex-flow: row nowrap;
}

.blocks>div {
  padding-top: var(--row-blocks-padding-top);
}

#skills-block {
  display: flex;
  margin-bottom: 0.2in;
  /* margin-top: 0.1in; */
}

#skills-header {
  display: flex;
  margin: -4px 10px 0px 0px;
}

#skills-header .fa-pencil-ruler {
  top: 5px;
}

#skills-list {
  /* width: 70%; */
  margin-left: 95px;
  margin-top: 3px;
  position: relative;
}

.skill {
  border: 0.5px solid rgb(194, 194, 194);
  border-radius: 80px;
  line-height: 2.25rem;
  padding: 3px 8px;
}

#skills-block h2::after {
  display: none;
}

.date {
  flex: 0 0 var(--date-block-width);
  font-size: 0.95rem;
  margin: 0px 25px 0px -25px;
  padding-top: calc(var(--row-blocks-padding-top) + 5.5px) !important;
  text-align: right;
}

.date span {
  display: block;
}

.date span:nth-child(2)::before {
  color: #b1b1b1;
  content: "|";
  display: block;
  height: 1.6rem;
  position: relative;
  right: 5.5pt;
}

.decorator {
  border-left: var(--decorator-border);
  min-height: 100%;
  position: relative;
  width: 2pt;
}

.decorator::before {
  background-color: #fff;
  border-radius: calc(var(--decorator-outer-dim) / 2);
  content: " ";
  display: block;
  height: var(--decorator-outer-dim);
  left: var(--decorator-outer-offset-left);
  position: absolute;
  top: var(--decorator-outer-offset-top);
  width: var(--decorator-outer-dim);
}

.decorator::after {
  border-radius: calc((var(--decorator-outer-dim) - (var(--decorator-border-width) * 2)) / 2);
  color: #555;
  content: "●";
  display: block;
  font-size: 1.75rem;
  height: calc(var(--decorator-outer-dim) - (var(--decorator-border-width) * 2));
  left: -8px;
  line-height: 1.3;
  position: absolute;
  top: calc(var(--decorator-outer-offset-top) - 5px);
  width: calc(var(--decorator-outer-dim) - (var(--decorator-border-width) * 2));
}

.blocks:last-child .decorator {
  margin-bottom: 0.25in;
}

.details {
  flex: 1 0 0;
  padding-left: 28px;
  padding-top: calc(var(--row-blocks-padding-top) - 0.5pt) !important;
}

.details header {
  color: #000;
}

.details h3 {
  font-size: 1.25rem;
}

.job-details {
  font-size: 0.95rem;
  color: rgb(90, 90, 90);
}

.details .place {
  float: left;
  margin-bottom: 0.05in;
}

.details .location {
  float: right;
}

.details div {
  clear: both;
}

.details .location::before {
  color: #333;
  content: "\f3c5";
  display: inline-block;
  font-family: "Font Awesome 5 Pro", "Font Awesome 5 Free";
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  position: relative;
  right: 3pt;
  text-decoration: inherit;
  text-rendering: auto;
}

.details .concise ul {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  margin: 0 !important;
}

.details .concise li {
  margin: 0 !important;
}

.details .concise li {
  margin-left: 0 !important;
}

/* 
MOBILE VIEWPORTS 
*/

@media screen AND (max-width: 1000px) {
  :root {
    --decorator-outer-offset-top: 35px;
  }
  body {
    /* margin-left: 5%; */
    width: 100%;
    margin-bottom: 5%;
  }
  html {
    font-size: 4vw !important;
  }
  #title {
    left: 90px;
  }
  #title h1 {
    font-size: 2.5rem;
  }
  .subtitle {
    margin-left: 10px;
    font-size: 1rem;
  }
  .animsition-overlay{
    width: 100%;
    margin: unset;
  }
  #main{
    position: absolute;
    left: 0.75in;
    top: 0.25in;
    padding: unset;
  }
  #dl-big {
    display: none;
  }
  .download-button, #dl-small {
    display: inline;
    box-shadow: 0px 0px 5px #33333379;
    font-size: 1rem;
    float: unset;
    left: 2%;
    margin-left: 10px;
  }
  #dl-small>i {
    font-size: 0.9rem;
    margin-right: 10px;
  }
  #interpunct {
    position: relative;
    font-size: 0.3rem;
    top: -5px;
    margin: 0px 25px 0px 25px;
  }
  #main #contact {
    float: unset;
  }
  #main h2 {
    width: fit-content;
    left: 134px;
  }
  #main h2>i {
    top: 20px !important;
    left: -35px !important;
    font-size: 1.2rem;
  }
  #main h2::after {
    border-left: unset;
  }
  .section-title {
    margin-left: 45px;
  }
  .decorator::after {
    font-size: 0.4rem;
    top: calc(var(--decorator-outer-offset-top) + 3px);
    left: -8px;
  }
  .date {
    flex: 0.17;
    max-width: 125px;
  }
  .details {
    padding-left: 57px;
  }
  .details .place {
    float: unset;
  }
  .details .location::before {
    top: -2.5px;
    right: 10px;
    font-size: 0.8rem
  }
  #skills-list-container {
    left: 60px;
    display: flex;
    width: 90%;
  }
  #skills-list {
    height: 100%;
    width: 65%;
    display: inline-flex;
    overflow-x: scroll;
    padding-left: 20px;
    top: -12px;
    left: 47px;
  }
  #skills-list::after {
    content: "";
    padding: 4px;
  }
  .skill {
    line-height: 0;
    border: 1px solid rgb(161, 161, 161);
    padding: 26px 20px;
    margin-right: 15px;
    font-size: 0.9rem;
    margin-top: 30px;
  }
  #skills-list-container::before {
    content: "";
    position: absolute;
    z-index: 100;
    height: 100px;
    width: 40px;
    left: 30%;
    background: linear-gradient(to right, white 35%, rgba(255, 255, 255, 0) 100%);
  }
  #skills-list-container::after {
    content: "";
    position: absolute;
    z-index: 100;
    height: 100px;
    width: 40px;
    left: 87%;
    /* bottom: 0; */
    background: linear-gradient(to left, white 35%, rgba(255, 255, 255, 0) 100%);
  }
}

/* 
FOR PRINTING TO PDF 
*/

@media print {
  body {
    width: 8.5in;
    margin-left: 0.5in;
  }
  :root{
    font-size: 9pt;
    --decorator-border:1px solid #ccc;
  }
  #main {
    margin-top: 0.25in;
    width: 8.5in;
  }
  #dl-link {
    display: none;
  }
  #title>h1{
    font-size: 2.6rem;
  }
  .main-block{
    margin-top: unset;
  }
  a {
    box-shadow: none;
  }
}