body {
    margin: 0;
    background-color: #191c20;
}

.text {
    font-family: 'DM Sans', sans-serif;
    color: white;
    position: relative;
    margin-left: 35px;
    padding-bottom: 10px;
    text-align: left;
}

h1 {
    font-size: calc(30px + 3vh);
    margin-block-end: auto;
}

.tagline{
    font-size: calc(25px + 2vh);
    margin-top: calc(10px + 1vh);
}

h3 {
    font-size: calc(16px + 1.125vh);
    margin-top: calc(10px + 1.25vh);
}

h4{
    font-size: calc(15px + 1vh);
    margin-top: calc(10px + 1.5vh);
}

a {
    text-decoration: none;
}

a.text-link {
    padding-right: 3.5px;
    padding-left: 3.5px;
    color: whitesmoke;
    background-color: rgba(165, 9, 105, 0.829);
}

a.text-link:hover {
    background-color: rgb(160, 12, 111);
    color: white;
}

.hero {
    position: absolute;
    display: inline-flex;
    top: 90vh;
    transform: translateY(-100%);
    z-index: 1;
}

#profile {
    position: relative;
    border-radius: 50%;
    min-width: 175px;
    min-height: 175px;
    max-width: 250px;
    max-height: 250px;
    width: 20vh;
    height: 20vh;
    padding: 35px;
    left: 20px;
    top: 1vh;
    transform: translateY(5%);
}

.social-links>a:not(:last-child) {
    margin-right: calc(20px + 4vh);
}

.fab,
.fas {
    font-size: calc(17px + 1vh);
    color: white;
}

.fab:hover,
.fas:hover {
    color: gray;
}

.social-links {
    padding-top: 2vh;
}

.small-text {
    display: none;
}

/* Mobile viewports */
@media screen AND (max-width: 1000px) {

    #intro {
        text-align: left;
    }

    h3 {
        font-size: 4vw;
    }

    .big-text {
        display: none;
    }

    .small-text {
        display: inline-flex;
    }

    .fab,
    .fas {
        font-size: 5vw;
    }

    .social-links {
        padding-top: 7vw;
    }

    .social-links>a:not(:last-child) {
        margin-right: 5vw;
    }

    .social-links>a:last-child {
        margin-right: 0px;
    }

    .hero {
        position: absolute;
        display: block;
    }

    #profile {
        position: relative;
        width: 20vw;
        height: 20vw;
        min-width: 150px;
        min-height: 150px;
        max-width: 50%;
        max-height: 50%;
        left: -10px;
        top: 20px;

    }
}

/* @media screen AND (max-height: 1000px) AND (min-width: 751px) {

    .hero {
        position: absolute;
        top: 15vh;
    }

    .text {
        font-size: calc(10px + 1vh);
    }

    .fab,
    .fas {
        font-size: calc(12px + 2vh);
    }

    .social-links {
        padding-top: 5vh;
        padding-bottom: 10vh;
    } */

    /* .social-links>a:not(:last-child) {
        margin-right: 5vh;
    } */

    /* #profile {
        width: calc(75px + 15vh);
        height: calc(75px + 15vh);
        top: 5vh;
    }
} */
