body {
    margin: 0;
    background-color: #1d203e;
}

.text {
    font-family: 'DM Sans', sans-serif;
    color: white;
    position: relative;
    margin-left: 35px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-align: left;
}

h1 {
    font-size: 75px;
    margin-block-end: auto;
}

.tagline{
    font-size: 50px;
    margin-top: 15px;
}

a {
    text-decoration: none;
}

a.text-link {
    padding-right: 3.5px;
    padding-left: 3.5px;
    color: whitesmoke;
    background-color: rgba(165, 9, 105, 0.829);
}

a.text-link:hover {
    background-color: rgb(160, 12, 111);
    color: white;
}

.hero {
    position: fixed;
    display: inline-flex;
    top: 50%;
    z-index: 1;
}

#profile {
    position: relative;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 35px;
    left: 20px;
    top:30px
}

.social-links>a {
    margin-right: 30px;
}

.fab,
.fas {
    font-size: 25px;
    color: white;
}

.fab:hover,
.fas:hover {
    color: gray;
}

.social-links {
    padding-top: 40px;
}

.small-text {
    display: none;
}

/* Mobile viewports */
@media screen AND (max-width: 750px) {

    .intro {
        margin-top: 5vw;
        font-size: 6vw;
    }

    h3 {
        font-size: 4vw;
    }

    .big-text {
        display: none;
    }

    .small-text {
        display: inline-flex;
    }

    .fab,
    .fas {
        font-size: 5vw;
    }

    .social-links {
        padding-top: 7vw;
    }

    .social-links>a:not(:last-child) {
        margin-right: 5vw;
    }

    .social-links>a:last-child {
        margin-right: 0px;
    }

    .hero {
        position: absolute;
        display: block;
        top: 12vh;
    }

    #profile {
        position: relative;
        margin: auto;
        width: 50%;
        max-width: 30%;
        min-width: 100px;
        left: 0px;
        top: 20px;
        height: auto;

    }

    .text {
        text-align: center;
    }
}

@media screen AND (max-height: 750px) AND (min-width: 751px) {

    .hero {
        position: absolute;
        top: 15vh;
    }

    .text {
        font-size: calc(10px + 1vh);
    }

    .fab,
    .fas {
        font-size: calc(12px + 2vh);
    }

    .social-links {
        padding-top: 5vh;
        padding-bottom: 10vh;
    }

    .social-links>a:not(:last-child) {
        margin-right: 5vh;
    }

    #profile {
        width: calc(75px + 15vh);
        height: calc(75px + 15vh);
        top: 5vh;
    }
}
